body {
  font-family: sans-serif;
  margin: 0 5.5555%;
  box-sizing: border-box;
}

.month figure {
  margin: 2em 0;
  position: relative;
}

.month {
  position: relative;
  clear: both;
}

/* 4 cols */
.month figure {
  /*
  float: left;
  */
}

.month img {
  width: 100%;
}

.arrow1, .arrow2 {
  width: 10%;
  background-color: black;
  position: absolute;
}

.arrowhead {
  border-color: black white white;
  border-style:solid;
  /*
  border-width:15%;;
  */
  width:0;
  height:0;
  position: absolute;
}

.month:nth-child(even) .arrow1, .month:nth-child(even) .arrowhead {
  left: 85%;
}

.month:nth-child(even) .arrowhead {
  left: 80%;
}

.month:nth-child(odd) .arrow1, .month:nth-child(odd) .arrowhead {
  left: 5%;
}

.month:nth-child(odd) .arrowhead {
  left: 0;
}

.month:nth-child(even)  .video {
  left: 0;
}

.month:nth-child(odd)  .video {
  left: 25%;
}

.month .broadcast {
  width: 100%;
}

.month .video {
  width: 75%;
  margin: 2em;
}


/* 8 cols */
@media screen and (min-width: 720px) {
  .month:nth-child(even)  .broadcast {
    left: 0;
  }
  
  .month:nth-child(odd)  h2 {
    text-align: right;
  }


  .month:nth-child(odd)  .broadcast {
    left: 50%;
  }

  .month .broadcast {
    width: 50%;
    /* float: left; */
  }

  .month .video {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
  }

}

/* 16 cols */
@media screen and (min-width: 1080px) {

}
